products/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertClient_InputMessage">
    <wsdl:part name="parameters" element="tns:insertClient" />
  </wsdl:message>
  <wsdl:message name="IService1_insertClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectClient_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectClient" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Selectproduct_InputMessage">
    <wsdl:part name="parameters" element="tns:Selectproduct" />
  </wsdl:message>
  <wsdl:message name="IService1_Selectproduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectproductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_selectClientAll_InputMessage">
    <wsdl:part name="parameters" element="tns:selectClientAll" />
  </wsdl:message>
  <wsdl:message name="IService1_selectClientAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectClientAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectSaleAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSaleAll" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectSaleAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSaleAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertClient" message="tns:IService1_insertClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertClientResponse" message="tns:IService1_insertClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectClient" message="tns:IService1_SelectClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectClientResponse" message="tns:IService1_SelectClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Selectproduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Selectproduct" message="tns:IService1_Selectproduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectproductResponse" message="tns:IService1_Selectproduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectClientAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/selectClientAll" message="tns:IService1_selectClientAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/selectClientAllResponse" message="tns:IService1_selectClientAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSaleAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectSaleAll" message="tns:IService1_SelectSaleAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectSaleAllResponse" message="tns:IService1_SelectSaleAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertClient">
      <soap:operation soapAction="http://tempuri.org/IService1/insertClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClient">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Selectproduct">
      <soap:operation soapAction="http://tempuri.org/IService1/Selectproduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectClientAll">
      <soap:operation soapAction="http://tempuri.org/IService1/selectClientAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSaleAll">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectSaleAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>