products/Service References/ServiceReference1/WcfServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Tclient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idclient" type="xs:int" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tclient" nillable="true" type="tns:Tclient" />
  <xs:complexType name="ArrayOfTclient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tclient" nillable="true" type="tns:Tclient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTclient" nillable="true" type="tns:ArrayOfTclient" />
  <xs:complexType name="ArrayOfTProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TProduct" nillable="true" type="tns:TProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTProduct" nillable="true" type="tns:ArrayOfTProduct" />
  <xs:complexType name="TProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expiration_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Idproduct" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TProduct" nillable="true" type="tns:TProduct" />
  <xs:complexType name="ArrayOfTsale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tsale" nillable="true" type="tns:Tsale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTsale" nillable="true" type="tns:ArrayOfTsale" />
  <xs:complexType name="Tsale">
    <xs:sequence>
      <xs:element minOccurs="0" name="client_id" type="xs:int" />
      <xs:element minOccurs="0" name="datasale" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idsale" type="xs:int" />
      <xs:element minOccurs="0" name="product_id" type="xs:int" />
      <xs:element minOccurs="0" name="rn_ktk" type="xs:long" />
      <xs:element minOccurs="0" name="rn_ktk2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tsale" nillable="true" type="tns:Tsale" />
</xs:schema>