products/Service References/WCFProduct/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProduct" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfProduct" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProduct_InsertClient_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClient" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_InsertClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_SelectClient_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectClient" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_SelectClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_SelectProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProduct" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_SelectProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_SelectSale_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSale" />
  </wsdl:message>
  <wsdl:message name="IServiceProduct_SelectSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProduct">
    <wsdl:operation name="InsertClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/InsertClient" message="tns:IServiceProduct_InsertClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/InsertClientResponse" message="tns:IServiceProduct_InsertClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/SelectClient" message="tns:IServiceProduct_SelectClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/SelectClientResponse" message="tns:IServiceProduct_SelectClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/SelectProduct" message="tns:IServiceProduct_SelectProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/SelectProductResponse" message="tns:IServiceProduct_SelectProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProduct/SelectSale" message="tns:IServiceProduct_SelectSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProduct/SelectSaleResponse" message="tns:IServiceProduct_SelectSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProduct" type="tns:IServiceProduct">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertClient">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/InsertClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClient">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/SelectClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProduct">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/SelectProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSale">
      <soap:operation soapAction="http://tempuri.org/IServiceProduct/SelectSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProduct">
    <wsdl:port name="BasicHttpBinding_IServiceProduct" binding="tns:BasicHttpBinding_IServiceProduct">
      <soap:address location="http://localhost:8080/WcfProduct.ServiceProduct." />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>